# Binaries and build artifacts
/build/
*.wasm

# Dependency files
go.sum
wasmcloud.lock

# Logs and temporary files
*.log
*.tmp

# IDE and editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db


# Generated code
gen/*.go
gen/*.h
gen/*.c

# Node.js dependencies (if applicable)
node_modules/

# Rust build artifacts
target/
Cargo.lock